.container {
  width: 200px;
  height: 400px;
  border: 2px solid #ada6a6;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.groupButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.listButton {
  display: flex;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;

    width: 110px;
    height: 48px;
    padding: 14px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    background: green;
    color: white;
  }
}
