.container {
  width: 300px;
  height: 400px;
  border: 2px solid #ada6a6;
  border-radius: 10px;
  padding: 10px;

  .forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
    height: 372px;

    label {
       display: flex;
       flex-direction: column;
      gap: 8px; 
    }
      input {
        width: 270px;
        height: 40px;
        padding: 8px 15px;
        border: 1px solid rgb(37, 37, 37);
        border-radius: 14px;
        background-color: #ebf5ff;
        font-weight: 400;
        font-size: 10px;
        line-height: 1;
      }
  }
}